<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport"
              content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <meta name="msapplication-tap-highlight" content="no" />
        <title>TimeBookingTool</title>

        <!--styles-->
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <link rel="stylesheet" type="text/css" href="css/calendar.css" />
        <link rel="stylesheet" type="text/css" href="css/reporting.css" />
        <link rel="stylesheet" type="text/css" href="libraries/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="libraries/jquery/jquery.mobile-1.4.5.min.css" />
        <!--styles-->

        <!--scripts-->
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="libraries/jquery/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="libraries/jquery/jquery-ui.min.js"></script>
        <script type="text/javascript" src="libraries/jquery/jquery.mobile-1.4.5.min.js"></script>
        <script type="text/javascript" src="libraries/angular.min.js"></script>
        <script type="text/javascript" src="libraries/angular-touch.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript" src="js/globalvariables.js"></script>
        <!--scripts-->
    </head>
    <body>
        <div ng-app="tbtApp">
            <!-- Authorization page -->
            <div data-role="page" id="authorization-page" ng-controller="AuthorizationCtrl">
                <div data-role="content" class="authorization-content">
                    <div class="body">
                        <span>Username </span> <input type="text" ng-model="username"/>
                        <span>Password </span> <input type="password" ng-model="password" />
                        <div class="checkbox"><input type="checkbox" ng-model="rememberMe" value="Remember Me" /><span>Remember me</span></div>
                        <button ng-click="authorization()">Log in</button>
                    </div>
                </div>
            </div>
            
            <!-- Calendar page -->
            <div data-role="page" id="calendar-page" ng-controller="CalendarCtrl">
                <div data-role="content">
                    <div class="header">
                        <a href="#main-menu-panel" class="menu_button"><img src="img/menu.png"/></a>
                        <div class="header-user">
                            <img src="img/user.png"/>
                            <p>{{user.FirstName}} {{user.LastName}}</p>
                        </div>
                    </div>
                    <div class="body">
                        <div id="calendar">
                            <ul style="display:flex;" ng-swipe-left="swipeCalendarLeft()" ng-swipe-right="swipeCalendarRight()">
                                <li class="calendar-item" ng-repeat="day in calendar" ng-click="selectDay($index)">
                                    <p>{{day.numb}}</p>
                                    <p>{{day.month | filterMonth}} | {{day.dayOfWeek | filterDayOfWeek}}</p>
                                </li>
                            </ul>
                            <div id="calendarButton">
                                <img src="img/calendar.png" ng-click="openCalendar()" id="calendarImage"/>
                                <input type="text" id="calendarDate" disabled="disabled"/>
                            </div>
                        </div>
                        
                        <span>Project:</span>
                        <select id="listProjects" ng-model="selectedProjectValue" ng-change="selectProject()">
                            <option value="{{project.Name}}" ng-repeat="project in user.Projects">{{project.Name}}</option>
                        </select>
                        
                        <span>Task:</span>
                        <select id="listTasks" ng-model="selectedActivityValue">
                            <option value="{{activity.Name}}" ng-repeat="activity in selectedProject.Activities">{{activity.Name}}</option>
                        </select> 
                        
                        <span>Time:</span>
                            <input type="text" name="time" ng-model="timeValue"/>
                        
                        <span>Comment:</span>
                            <input type="text" name="comment" ng-model="commentValue"/>
                        
                        <button ng-click="addTimeEntry()" ng-show="!editMode">Create</button>
                        <div style="display: flex; margin-top: -8px;">
                            <button ng-click="saveTimeEntry()" ng-show="editMode" style="margin-right: 1px;">Save</button>
                            <button ng-click="cancelTimeEntry()" ng-show="editMode" style="margin-left: 1px;">Cancel</button>
                        </div>
                        
                        <ul class="timeEntry-list nomargin">
                            <li ng-repeat="timeEntry in timeEntries">
                                <div class="timeEntry-item" ng-swipe-left="swipeLeft($index)" ng-swipe-right="swipeRight($index)">
                                    <div class="timeEntry-block" ng-click="TickTime($index)">
                                        <img src="img/Clock.png"/>
                                        <div>
                                            <span class="timeEntry-description">{{timeEntry.Activity.Project.Name}} | {{timeEntry.Activity.Name}}</span>
                                            <p class="timeEntry-duration">{{timeEntry.Duration}}</p>
                                            <p class="timeEntry-comment">{{timeEntry.Comment}}</p>
                                        </div>
                                    </div>
                                    <div class="edit-button" ng-click="editTimeEntry($index)">
                                        <p>Edit</p>
                                    </div>
                                    <div class="delete-button" ng-click="removeTimeEntry($index)">
                                        <p>Delete</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <!-- Reporting page -->
            <div data-role="page" id="reporting-page" ng-controller="ReportingCtrl">
                <div data-role="content">
                    <div class="header">
                        <a href="#main-menu-panel" class="menu_button"><img src="img/menu.png"/></a>
                        <div class="header-user">
                            <img src="img/user.png"/>
                            <p>{{user.FirstName}} {{user.LastName}}</p>
                        </div>
                    </div>
                    <div class="body">
                        <div class="date-block">
                            <p>From:</p>
                            <div ng-click="openFromCalendar()">
                                <div id="calendarFromButton">
                                    <img src="img/calendar_orange.png" id="calendarFrom"/>
                                    <input type="text" id="calendarFromDate" disabled="disabled"/>
                                </div>
                                <p>{{dateFrom | filterReportingDate}}</p>
                            </div>
                        </div>
                        <div class="date-block">
                            <p>To:</p>
                            <div ng-click="openToCalendar()">
                                <div id="calendarToButton">
                                    <img src="img/calendar_orange.png" id="calendarTo"/>
                                    <input type="text" id="calendarToDate" disabled="disabled"/>
                                </div>
                                <p>{{dateTo | filterReportingDate}}</p>
                            </div>
                        </div>
                        <button ng-click="generateReport()">Generate</button>
                        <p class="report-duration">Total time: <span>{{reportDuration}}</span></p>
                        <ul id="listTimeEntries">
                            <li ng-repeat="tEntry in report" class="report-item">
                                <p class="timeEntry-description" ><span>{{tEntry.Date | filterDate}}</span><span>{{tEntry.Activity.Name}} | {{tEntry.Activity.Project.Name}}</span></p>
                                <p class="timeEntry-duration">{{tEntry.Duration | filterTime}}</p>
                                <p class="timeEntry-comment">{{tEntry.Comment}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            app.initialize();
        </script>
        <script type="text/javascript" src="js/menu.js"></script>
        <script type="text/javascript" src="js/filters.js"></script>
        <script type="text/javascript" src="js/services/MainService.js"></script>
        <script type="text/javascript" src="js/services/UserService.js"></script>
        <script type="text/javascript" src="js/services/ResetTicketService.js"></script>
        <script type="text/javascript" src="js/services/TimeEntryService.js"></script>
        <script type="text/javascript" src="js/controllers/MenuCtrl.js"></script>
        <script type="text/javascript" src="js/controllers/AuthorizationCtrl.js"></script>
        <script type="text/javascript" src="js/controllers/CalendarCtrl.js"></script>
        <script type="text/javascript" src="js/controllers/ReportingCtrl.js"></script>
    </body>
</html>